exportPattern("^[[:alpha:]]+")
import(GPArotation)
import(lavaan)
import(rmarkdown)
importFrom(caret, createFolds)
importFrom(flextable, align)
importFrom(flextable, autofit)
importFrom(flextable, as_paragraph)
importFrom(flextable, bold)
importFrom(flextable, compose)
importFrom(flextable, colformat_double)
importFrom(flextable, flextable)
importFrom(flextable, set_header_labels)
importFrom(flextable, set_flextable_defaults)
importFrom(knitr, opts_chunk)
importFrom(knitr, knit)
importFrom(knitr, knit_print)
importFrom(parallel, mclapply)
importFrom(parameters, n_factors)
importFrom(semPlot, semPaths)
importFrom(semTools, findRMSEAsamplesize)

