exportPattern("^[[:alpha:]]+")
import(foreach)
import(GPArotation)
import(lavaan)
import(rmarkdown)
import(flextable)
importFrom(caret, createFolds)
importFrom(doParallel, registerDoParallel)
importFrom(knitr, opts_chunk)
importFrom(knitr, knit)
importFrom(knitr, knit_print)
importFrom(officer, fp_border)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(parameters, n_factors)
importFrom(semPlot, semPaths)
importFrom(semTools, findRMSEAsamplesize)

